.mapTheme{
    margin: 50px 50px 20px 20px;
    top: 5%
}
.mapWrap{
    position: relative;
}
.infoDate{
    position: absolute;
    z-index: 9;
    background: white;
    color: #1C67B1;
    width: 200px;
    text-align: center;
    top: -3%;
    border-radius: 15px;
}


.iconZone{
    position: absolute;
    display: block;
    text-decoration: none;
}
/* 各縣市氣象position */
/* 基隆市 */
.iconZone[name=_10017]{  
    left: 93%;
    top: 0%;
}
/* 新北市 */
.iconZone[name=_65000]{
    left: 68%;
    top: 0%;
}
/* 臺北市 */
.iconZone[name=_63000]{
    left: 78%;
    top: -4%;
}
/* 桃園市 */
.iconZone[name=_68000]{  
    left: 56%;
    top: 4%;
}
/* 新竹縣 */
.iconZone[name=_10004]{
    left: 68%;
    top: 20%;
}
/* 新竹市 */
.iconZone[name=_10018]{  
    left: 48%;
    top: 12%;
}
/* 苗栗縣 */
.iconZone[name=_10005]{  
    left: 41%;
    top: 19%;
}
/* 臺中市 */
.iconZone[name=_66000]{  
    left: 35%;
    top: 26%;
}
/* 南投縣 */
.iconZone[name=_10008]{  
    left: 57%;
    top: 42%;
}
/* 彰化縣 */
.iconZone[name=_10007]{  
    left: 28%;
    top: 34%;
}
/* 雲林縣 */
.iconZone[name=_10009]{  
    left: 20%;
    top: 43%;
}
/* 嘉義縣 */
.iconZone[name=_10010]{
    left: 20%;
    top: 53%;
}
/* 嘉義市 */
.iconZone[name=_10020]{
    left: 45%;
    top: 53%;
}
/* 臺南市 */
.iconZone[name=_67000]{
    left: 16%;
    top: 64%;
}
/* 高雄市 */
.iconZone[name=_64000]{  
    left: 24%;
    top: 77%;
}
/* 屏東縣 */
.iconZone[name=_10013]{  
    left: 39%;
    top: 88%;
}
/* 臺東縣 */
.iconZone[name=_10014]{  
    left: 67%;
    top: 77%;
}
/* 花蓮縣 */
.iconZone[name=_10015]{  
    left: 87%;
    top: 43%;
}
/* 宜蘭縣 */
.iconZone[name=_10002]{  
    left: 95%;
    top: 15%;
}
/* 澎湖縣 */
.iconZone[name=_10016]{  
    left: 0%;
    top: 60%;
}
/* 金門縣 */
.iconZone[name=_09020]{  
    left: 10%;
    top: 30%;
}
/* 連江縣 */
.iconZone[name=_09007]{  
    left: 15%;
    top: 10%;
}





a span{
    text-decoration: none;
}
.iconZone div{
    display: none;
    z-index: 9;
    position: relative;
    background: white;
    border-radius: 10px;
    padding: 5px;
}
.iconZone span {
    display: block;
    text-align: center;
    font-size: .775rem;
    letter-spacing: 1px;
    font-weight: 700;
    min-width: 60px;
    white-space: nowrap;
    margin: 5px;
}
.weatherData img {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px #00569c;
    background-color: rgba(255,255,255,.9);
    padding: 10px;
    border-radius: 100%;
    z-index: 9;
    position: absolute;
}
.iconZone img.hidden{
    display: none;
}
.iconZone div.show{
    display: block;
}
.iconZone:hover{
    z-index: 10;
}

.twMap{
    filter: drop-shadow(5px 5px 5px rgba(100, 136, 235, 0.781));
    position: relative;
    z-index: 1;
}
.twMap a{
    stroke: black;
    fill: transparent;
    fill: #CEE9C8;
    transition: 0.5s;
    cursor: pointer;
}
.twMap a:hover{
    fill: #197AC8;
    transform: translate(-5px,-5px);
}
.twMap a.click{
    fill: #94C2E6;
}